.contact-edit {
    gap: 1rem;

    .submit-btn {
        font-weight: bold;
        color: white;
        align-self: end;
        letter-spacing: 2px;
        /* text-decoration: underline; */
        font-size: 20px;
    }

    
}